h1 {
    color: blue;
}
h2 {
    color: salmon;
}
p::first-letter {
    font-size: 200%;
}
.pstyle {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}
ul li {
    list-style: none;
    display: inline;
}