/* Put your solutions to the assignment here */

body {
    background-color: #eee;
    font-family: arial;
}
header {
    background-color: #49516f;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
header h1 {
    margin: 0px 0px 0px 0px;
    color: white;
}
header span {
    margin: 0px 0px 0px 0px;
    color: white;
}
.logo {
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
    height: 100px;
    width: 100px 100%;
    border: 5px solid white;
}
.posts {
    display: flex;
    flex-wrap: wrap;
}
.post {
    flex-grow: 1;
    display: flex;
}
.post-body {
    height: 200px;
}
.post-container {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
}
.post-pic {
    height: 200px;
    width: 200px;
    min-width: 200px;
    margin-right: 10px;
}
@media only screen and (min-width: 999px) {
    .posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .post {
        max-width: 800px;
        min-width: 800px;

    }
}
@media only screen and (max-width: 998px) and (min-width: 400px) {
    header {
        display: flex;
        justify-content: center;
    }
    .posts {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .post-container {
        flex-direction: column;
    }
    .post {
        flex: 50%;
    }
    .post-pic{
        width: 100%;
        height: auto;
        margin-left: 10px;
    }
}
@media only screen and (max-width: 399px) {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .logo {
        border-radius: 50%;
    }
    .posts {
        display: flex;
        flex-basis: auto;
        flex-direction: column;
    }
    .post-container {
        display: flex;
        flex-direction: column;
    }
    .post-pic {
        width: 100%;
        height: auto;
    }
}