body {
    margin: 0;
}

.tasks {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.tasks > * {
  flex-basis: 100%;
  flex-grow: 1;
}

.tasks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.very-urgent li {
    background-color: #ec4646;
    padding: 15px 0;
    border: 1px dashed blue;
}

.somewhat-urgent li {
    background-color: #e8e841;
    padding: 15px 0;
    border: 1px dashed blue;
}

.not-urgent li {
    background-color: #3bdb3b;
    padding: 15px 0;
    border: 1px dashed blue;
}

li.new-task {
    font-weight: bolder;
    cursor: pointer;
}

.hidden {
    display: none;
}

#new-task-form {
    background: aliceblue;
    position: absolute;
    padding: 70px 70px;
    line-height: 2.8;
    top: 50px;
    left: 50%;
    margin-left: -225.5px;
    border: 5px solid #0061ff;
}

#form-submit {
    float: right;
}

.container {
    position: relative;
}

.error {
    color: red;
}

.tasks li {
    position: relative;
}

.tasks li p {
    display: inline;
}

.tasks img {
    width: 13px;
    height: 13px;
    background: transparent;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 399px) {
    .tasks {
        flex-direction: column;
        margin: 0 40px;
    }

    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
}
